*{
box-sizing: border-box;
margin:0;
padding:0;
}

header{

color: black;
background-color: RGBA(211, 211, 211, 0.548);
height: 50px;
}
header h1{
text-align: center;
font-family: 'Courgette', 'cursive';
font-weight: bolder;
padding-top: 15px;
font-size: larger;

}

#container{

background-image: url('../img/back-ground.jpg') ;    
background-repeat: no-repeat;
background-size: cover;
height:700px;
}

#left{
background-color: RGBA(211, 211, 211, 0.548);  
width: 400px;
height: 400px;
position: relative;
top: 100px;
left:100px ;
font-weight: bolder;
font-family: 'Courgette', 'cursive';
padding-left: 100px;
padding-right: 100px;
padding-top: 100px;
padding-bottom: 100px;
float: left;
}
#right{
background-color: RGBA(211, 211, 211, 0.548);  
width: 400px;
height: 400px;
position: relative;
top: 100px;
right:100px ;
font-weight: bolder;
font-family: 'Courgette', 'cursive';
padding-left: 100px;
padding-right: 100px;
padding-top: 100px;
padding-bottom: 100px;
float: right;
}


#form{

    
}
table, td, th {
border: 1px solid whitesmoke;


}

table {
border-collapse: collapse;
width: 100%;
color: whitesmoke;
text-align: center;
margin-right: 10px;

}
th, td {
    padding: 15px;
    background-color: RGB(39, 39, 39);
  }

  footer{
    color: black;
    background-color: RGBA(211, 211, 211, 0.548);
    height: 50px;

  }

  footer p{
    text-align: center;
    font-family: 'Courgette', 'cursive';
    font-weight: bolder;
    padding-top: 15px;
    font-size: larger;
    
    }